body {
    margin: 30px;
    padding: 0px;
    width: 100%;
    font-family: "Comic Sans MS",Arial, Helvetica, sans-serif;
    background:#5B5B67;
    
}

#container
	{
		width: 50%;
		position: absolute; top: 5%; right: 25%; bottom 0%; left: 25%;	
	}
#wrapper
	{
		width:50%;
		height: 100%;	
		position: absolute; top: 0%; right: 25%; bottom 0%; left: 25%;
		auto;
		background-color:#CCCCCC
	}

.button {

	    color:#666;
	    background-color:#B1B1B6;
	    border-radius:5px;
	    -moz-border-radius:5px;
	    -webkit-border-radius:5px;
	    border: 2px;
	    font-family: "Comic Sans MS",Arial,sans-serif;
	    font-size: 15px;
	    
	    font-weight:700;
	    text-decoration:none;
	    
	    
	    /*padding:10px 16px;
	    text-shadow:#FE6 0 1px 0 */
		  
		  /*width: 115px;
		  height: 30px;*/
		  
		  padding: 10px;
		  text-align: center;
		  border-radius: 5px;
		  color: #000000;
		  font-weight: bold;
   }
